// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.p-6{
	width: 50%;
}
.breadcrumb {
    padding: 0;
    background-color: transparent;
    border-radius: 0;
}
.search-wrap {
    background: #edf0ef;
    padding-top: 15px;
}
